form {
    padding-top: 190px;
}

.email {
    padding-top: 25px;
}

.cpf {
    padding-top: 25px;
}

.curso {
    padding-top: 25px;
}

button {
    background-color: gray;
    color: black;
    font-size: 22px;
    cursor: pointer;
    margin-top: 15px;
    border-radius: 10%;
}