body {
    background-color: lightgray;
}

nav a {
    text-transform: capitalize;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
    padding-left: 140px;
    padding-right: 8px;
}

#logo {
    width: 10%;
    height: 140px;
    border: solid blue;
    border-radius: 50%;
    float: left;
    margin: 0;
    cursor: pointer;
}

.resumo {
    padding-top: 160px;
    font-size: 24px;
    text-align: left;
}

#escola {
    width: 40%;
    position: static;
    margin-top: -125px;
    bottom: 15px;
    float: right;
    border: solid blue;
    border-radius: 50%;
}


.botao-cadastro {
    font-size: 28px;
    color: black;
    border-color: black;
    background-color: gray;
    cursor: pointer;
    
}

footer {
    margin-top: 500px;
    text-align: center;
    font-size: 19px;
    font-weight: bold;
}